body{
background:black;
display:flex;
justify-content:center;
}

/* Mobile Frame */

.mobile{
width:350px;
height:700px;
border-radius:40px;
overflow:hidden;
border:8px solid black;
box-shadow:0 0 50px red;
}

/* Status Bar */

.status-bar{
height:40px;
background:black;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 15px;
}

/* Live Dragon Background (GIF link) */

.wallpaper{
height:600px;
background-image:url("https://pin.it/4Auq7KdS5");
background-size:cover;
background-position:center;
padding-top:40px;
}

/* Clock */

.clock{
text-align:center;
color:white;
margin-bottom:30px;
text-shadow:0 0 15px red;
}

.clock h1{
font-size:60px;
}

/* Apps */

.apps{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:20px;
}

.app{
text-align:center;
color:white;
font-size:12px;
}

.app img{
width:50px;
height:50px;
padding:8px;
border-radius:15px;
background:linear-gradient(145deg,#8b0000,#000000);
border:2px solid red;
box-shadow:0 0 10px red;
}

/* Dock */

.dock{
height:60px;
background:rgba(0,0,0,0.7);
display:flex;
justify-content:space-around;
align-items:center;
}

.dock img{
width:40px;
height:40px;
}
